body, .hero {
    background-color: rgba(20, 23, 32);
}
.hero_content {   
    padding-top: 150px;
    padding-bottom: 50px;
}
.profile {
    border-radius: 50%;
    display: block;        
}
.greet, .status {
    color: rgba(5, 240, 241);
    text-align: left;
}
#cards {
    color: black;
    background-color: rgba(221, 104, 235);
    border: 2px solid black;   
}
#my_services, #my_projects{
    padding-bottom: 100px;
}
#services, #projects, #contacts, #certifications, #education {
    margin-top: 150px;
    color: rgba(5, 240, 241);
}
.view_work {
    padding-top: 100px;
}
@media (min-width: 768px) {
    .ms-md-custom {
        margin-left: 100px; 
    }
}
